######################## ElasticSearch Configuration  #########################
#
################################### Cluster ###################################
cluster.name: <%= @cluster_name %>
#################################### Node #####################################
node.name: ${HOSTNAME}
#################################### Paths ####################################
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
############################## Network And HTTP ###############################
network.host: <%= @network_host %>
http.port: 9200
################################## Discovery ##################################
discovery.zen.ping.unicast.hosts:
<% @unicast_hosts.each do |hosts| %>
  - <%= hosts %>
<% end %>
discovery.zen.minimum_master_nodes: <%= (@unicast_hosts.length / 2) + 1 %>
