server {
  listen 80;
  server_name download.oracle.com;

  access_log /var/log/nginx/java-access.log;
  error_log /var/log/nginx/java-error.log;

  location / {
    rewrite /.*/(.*) /$1 last;
    root <%= @docroot %>;
    autoindex on;
  }
}
